*.pod
*.log
*.o
*.lo
blib
Build.bat
mods/*/blib/libdoc/
mods/**/blib/
mods/**/Makefile
mods/**/Build
pm_to_blib
mods/**/blib/
mods/**/_build/
i.examples.pod  
tags
*.tags
i.help.pod
mods/**/MYMETA.json
mods/**/MYMETA.yml
mods/**/*.tmp
*.lgpl
*.idx
*_log.tex
*.aux
Build
*.history
*.ps
*.pdf
*.dvi
*.out
*.toc
*.bak
*.lof
*.lot
_ERROR_
*~
html/
