
form {
    width: 90%;
    margin: 0 auto;
}

form { 
	background-color: green;
}

form.add_document { 
	background-color: green;
}

input, textarea {
	text-align: left;
}

label, input {
    /* in order to define widths */
	display: inline-block;
}

label {
    width: 20%;
    /* positions the label text beside the input */
    text-align: right;
	float: left; 
}

label + input {
    width: 50%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    /*margin: 0 30% 0 4%;*/
}

fieldset{
	color:black;
	background-color:white;
}

