
<div id="dump">
	[% dump %]
</div>

<div id="contents_html">
	[% contents_html %]
</div>

<form action="/" method="get">
    Поисковый запрос:
    <input type="text" name="query">
    <input type="submit" value="Поиск">
</form>

