<!doctype html>
<html>
    <head>
  		<meta charset="UTF-8">
	    <title>Поисковая система Сфинкс</title>
	    <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
	[% INSERT header %]
    	<h1>Поисковая система Сфинкс</h1>
	    <div id="content">
	        [% content %]
	    </div>
	[% INSERT footer %]
    </body>
</html>
